body{front-family: Arial, sans-serif;
     background-color: #f0f0f0; 
     text-align: center; 
     padding: 10px;}h1{color: #d80000;
     }p{color: #666;
     font-size: 16px;}/* Product & Upload Gallery Grid */

     
    